<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ustudy.exam.dao.ExamStudentDao">

	<resultMap type="com.ustudy.exam.model.ExamStudent" id="ExamStudentResult">
        <id property="id" column="id"/>
        <result property="examCode" column="exam_code"/>
        <result property="examid" column="examid"/>
        <result property="schid" column="schid"/>
        <result property="gradeid" column="gradeid"/>
        <result property="classId" column="class_id"/>
        <result property="className" column="class_name"/>
        <result property="name" column="name"/>
        <result property="stuno" column="stuno"/>
        <result property="paperStatus" column="paper_status"/>
    </resultMap>

	<select id="getStudentInfoByExamIDAndGradeId" parameterType="java.util.Map" resultMap="ExamStudentResult">
		SELECT * FROM examinee where examid=#{examId} and gradeid=#{gradeId}
	</select>
	
<!-- 	<select id="getExamStudents" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT ee.id as studentId,ee.name AS studentName,ee.exam_code AS examCode,cl.cls_name AS className,cl.id AS classId 
		from examinee ee LEFT JOIN class cl ON ee.class_id=cl.id 
		where ee.examid=#{examId} and ee.gradeid=#{gradeId}
		<if test="classId !=null and classId > 0">
		AND cl.id=#{classId}
		</if>
		<if test="studentName !=null and studentName != ''">
		AND (ee.`name` LIKE CONCAT('%',#{studentName, jdbcType=VARCHAR},'%') or ee.exam_code LIKE CONCAT('%',#{studentName, jdbcType=VARCHAR},'%'))
		</if>
		ORDER BY ee.id
	</select>
	
	<select id="getMissExamStudents" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT ee.id as studentId,ee.name AS studentName,ee.exam_code AS examCode,cl.cls_name AS className,cl.id AS classId 
		from examinee ee LEFT JOIN class cl ON ee.class_id=cl.id 
		where ee.gradeid=#{gradeId} AND (ee.exam_code IN (SELECT exam_code from paper where paper_status='1' and exam_grade_sub_id=#{egsId})
		OR ee.exam_code NOT IN (SELECT exam_code FROM paper where exam_grade_sub_id=#{egsId}))
		<if test="classId !=null and classId > 0">
		AND cl.id=#{classId}
		</if>
		<if test="studentName !=null and studentName != ''">
		AND (ee.`name` LIKE CONCAT('%',#{studentName, jdbcType=VARCHAR},'%') or ee.exam_code LIKE CONCAT('%',#{studentName, jdbcType=VARCHAR},'%'))
		</if>
		ORDER BY ee.id
	</select> -->

</mapper>