<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ustudy.exam.dao.GradeDao">

	<resultMap type="com.ustudy.exam.model.Grade" id="GradeResult">
        <id property="id" column="id"/>
        <result property="gradeName" column="grade_name"/>
        <result property="classesNum" column="classes_num"/>
        <result property="gradeOwner" column="grade_owner"/>
        <result property="schid" column="schid"/>
    </resultMap>
    
    <resultMap id="GradesubResult" type="HashMap">  
	    <result property="id" column="grade_id" />  
	    <result property="name" column="sub_name" />
	    <result property="owner" column="sub_owner" />          
	</resultMap>
	
	<resultMap id="GradeGroupsResult" type="HashMap">  
	    <result property="id" column="id" />  
	    <result property="name" column="sub_name" />
	    <result property="owner" column="sub_owner" />
	    <result property="teacname" column="teacname" />
	</resultMap>

	<select id="getGradesBySchoolId" parameterType="String" resultMap="GradeResult">
		SELECT * from grade where schid=#{schoolId,jdbcType=VARCHAR}
	</select>
	
	<select id="getGradeById" parameterType="long" resultMap="GradeResult">
		SELECT * from grade where id=#{gradeId}
	</select>
	
	<select id="getGradesubBySchoolId" parameterType="String" resultMap="GradesubResult">
		SELECT gs.grade_id,s.name AS sub_name,gs.sub_owner FROM gradesub gs LEFT JOIN subject s ON gs.sub_id = s.id WHERE
		 gs.grade_id in (SELECT id from grade where schid=#{schoolId,jdbcType=VARCHAR})
	</select>
	
	<select id="getGradesubByGradeId" parameterType="long" resultMap="GradesubResult">
		SELECT gs.grade_id,s.name AS sub_name,gs.sub_owner FROM gradesub gs LEFT JOIN subject s ON gs.sub_id = s.id WHERE gs.grade_id=#{gradeId}
	</select>
	
	<select id="getGradeGroupsByGradeId" parameterType="long" resultMap="GradeGroupsResult">
		SELECT g.id,s.name AS sub_name,g.sub_owner,t.teacname FROM gradesub g LEFT JOIN teacher t ON g.sub_owner = t.teacid 
		LEFT JOIN subject s ON g.sub_id = s.id WHERE grade_id=#{gradeId}
	</select>

</mapper>