<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ustudy.exam.dao.QuesAnswerDao">

	<resultMap type="com.ustudy.exam.model.QuesAnswer" id="QuesAnswerResult">
        <id property="id" column="id"/>
        <result property="quesno" column="quesno"/>
        <result property="startno" column="startno"/>
        <result property="endno" column="endno"/>
        <result property="type" column="type"/>
        <result property="branch" column="branch"/>
        <result property="choiceNum" column="choice_num"/>
        <result property="score" column="score"/>
        <result property="assignMode" column="assign_mode"/>
        <result property="scoreMode" column="mark_mode"/>
        <result property="teacOwner" column="teac_owner"/>
        <result property="examGradeSubId" column="exam_grade_sub_id"/>
    </resultMap>

	<select id="getQuesAnswers" parameterType="Long" resultMap="QuesAnswerResult">
		SELECT * FROM question where exam_grade_sub_id=#{egsId}
	</select>
	
	<select id="getQuesAnswer" parameterType="java.util.Map" resultMap="QuesAnswerResult">
		SELECT * FROM question where id=#{quesId} and exam_grade_sub_id=#{egsId} limit 1
	</select>
	
	<select id="getQuesAnswersByIds" parameterType="string" resultMap="QuesAnswerResult">
		SELECT * FROM question where exam_grade_sub_id in (#{egsIds})
	</select>

	<delete id="deleteQuesAnswers" parameterType="Long">
		delete FROM question where exam_grade_sub_id=#{egsId}
	</delete>
	
	<delete id="deleteQuesAnswerByIds" parameterType="java.util.Map">
		delete FROM question where exam_grade_sub_id=#{egsId} and id not in 
		<foreach item="item" index="index" collection="quesAnswerIds" open="(" separator="," close=")">  
		 #{item}  
		</foreach>
	</delete>

	<insert id="insertQuesAnswers" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
		insert into question (quesno,startno,endno,type,exam_grade_sub_id,choice_num,score,branch) values  
	    <foreach collection="list" item="item" index="index" separator="," >  
	        (#{item.quesno},#{item.startno},#{item.endno},#{item.type},#{item.examGradeSubId},#{item.choiceNum},#{item.score},#{item.branch})  
	    </foreach>  
	</insert>

	<insert id="initQuesAnswers" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
		insert into question (quesno,startno,endno,type,exam_grade_sub_id,choice_num,score) values  
	    <foreach collection="list" item="item" index="index" separator="," >  
	        (#{item.quesno},#{item.startno},#{item.endno},#{item.type},#{item.examGradeSubId},#{item.choiceNum},#{item.score})
	    </foreach>  
	</insert>
	
	<update id="updateQuesAnswer" parameterType="com.ustudy.exam.model.QuesAnswer">  
        UPDATE question set quesno=#{quesno}, startno=#{startno}, endno=#{endno}, type=#{type}, branch=#{branch}, choice_num=#{choiceNum}, score=#{score}, exam_grade_sub_id=#{examGradeSubId} WHERE id=#{id}
	</update>
	
	<select id="getObjectQuestions" parameterType="Long" resultType="java.util.Map">
		SELECT startno,endno,type FROM question where exam_grade_sub_id=#{egsId} AND type in ('单选题','多选题','判断题')
	</select>

</mapper>