<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ustudy.exam.dao.StudentPaperDao">

	<resultMap type="com.ustudy.exam.model.StudentPaper" id="StudentPaperResult">
        <id property="id" column="id"/>
        <result property="stuNo" column="stuno"/>
        <result property="stuExamNo" column="exam_code"/>
        <result property="examId" column="exam_id"/>
        <result property="gradeId" column="grade_id"/>
        <result property="subjectId" column="sub_id"/>        
        <result property="egsId" column="exam_grade_sub_id"/>
        <result property="batchNum" column="batch_num"/>
        <result property="paperImg" column="paper_img"/>
        <result property="paperStatus" column="paper_status"/>
        <result property="errorStatus" column="error_status"/>
    </resultMap>    

	<select id="getStudentPapers" parameterType="long" resultMap="StudentPaperResult">
		SELECT p.*, e.stuno, egs.examid AS exam_id, egs.grade_id, egs.sub_id
		 FROM paper p LEFT JOIN examgradesub egs ON p.exam_grade_sub_id=egs.id 
		LEFT JOIN examinee e ON e.exam_code=p.exam_code WHERE p.exam_grade_sub_id=#{egsId}
	</select>	

	<select id="getAnswerPapers" parameterType="java.util.Map" resultMap="StudentPaperResult">
		SELECT * FROM paper p 
		<if test="type !=null and type != ''">
		 LEFT JOIN answer a on p.id=a.paperid 
		</if>
		<if test="text !=null and text != '' or classId > 0">
		 LEFT JOIN examinee ee on p.exam_code=ee.exam_code
		</if>
		WHERE p.exam_grade_sub_id=#{egsId}
		<if test="type !=null and type != ''">
		 AND a.mflag=#{type,jdbcType=VARCHAR}
		 	<if test="questionId !=null and questionId > 0">
			 AND a.quesid=#{questionId}
			</if>
		</if>
		<if test="classId > 0">
		 AND ee.class_id=#{classId}
		</if>
		<if test="text !=null and text != ''">
		 AND (ee.exam_code LIKE CONCAT('%',#{text},'%') OR ee.name LIKE CONCAT('%',#{text},'%'))
		</if>
	</select>

	<insert id="insertStudentPaper" useGeneratedKeys="true" keyProperty="id" parameterType="com.ustudy.exam.model.StudentPaper">
		INSERT INTO paper (exam_code, exam_grade_sub_id, batch_num, paper_img, paper_status, error_status)  
        VALUES (#{stuExamNo}, #{egsId}, #{batchNum}, #{paperImg,jdbcType=VARCHAR}, #{paperStatus,jdbcType=VARCHAR}, #{errorStatus,jdbcType=VARCHAR})
		on duplicate key update 
		    batch_num=VALUES(batch_num),
		    paper_img=VALUES(paper_img),
		    paper_status=VALUES(paper_status),
		    error_status=VALUES(error_status),
		    id=LAST_INSERT_ID(id)
	</insert>
	
	<select id="getStudentPaperId" parameterType="java.util.Map" resultType="Integer">
		SELECT id from paper WHERE exam_code=#{examCode,jdbcType=VARCHAR} and exam_grade_sub_id=#{egsId}
	</select>
	
	<delete id="deleteStudentPapers" parameterType="java.util.Map">
		DELETE from paper where exam_grade_sub_id=#{egsId} and batch_num=#{batchNum}		
	</delete>
	
	<select id="getErrorPapers" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT p.exam_code examCode,ee.name,p.id paperid,p.paper_img paperImg,oa.id,oa.quesno,oa.answer,p.paper_status status,p.error_status errorStatus FROM paper p  
		LEFT JOIN obj_answer oa ON p.id=oa.paperid 
		LEFT JOIN examinee ee ON p.exam_code=ee.exam_code
		where p.exam_grade_sub_id=#{egsId} and ee.schid=#{schId,jdbcType=VARCHAR} and 
		      p.paper_status='2' and p.error_status='2'
	</select>
	
	<update id="updatePaperStatus" parameterType="java.util.Map">
		UPDATE paper SET paper_status=#{status,jdbcType=VARCHAR} where id=#{paperid}
	</update>

	<update id="updatePapersStatus" parameterType="java.util.Map">
		UPDATE paper SET paper_status=#{paperStatus,jdbcType=VARCHAR}, error_status=#{errorStatus,jdbcType=VARCHAR} 
		WHERE id in
	    <foreach collection="list" item="item" separator="," open="(" close=")">
	        #{item}
	    </foreach>

	</update>

</mapper>
