<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ustudy.exam.dao.SubscoreDao">

	<delete id="deleteSubscores" parameterType="Long">
		DELETE from subscore where exam_grade_sub_id=#{egsId}
	</delete>

	<insert id="insertSubscores" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
		insert into subscore (stuid,exam_grade_sub_id,score,rank) values  
	    <foreach collection="list" item="item" index="index" separator="," >  
	        (#{item.stuid},#{item.egsId},#{item.score},#{item.rank})  
	    </foreach>  
	</insert>
	
	<select id="getExamScores" parameterType="Long" resultType="java.util.Map">
		SELECT SUM(score) score,stuid from subscore 
		where exam_grade_sub_id IN (SELECT id from examgradesub where examid=#{examId}) 
		GROUP BY stuid
	</select>	

</mapper>