<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ustudy.exam.dao.TeacherDao">

	<resultMap id="TeacherResult" type="HashMap">  
	    <result property="id" column="teacid" />  
	    <result property="name" column="teacname" />          
	</resultMap>

	<resultMap id="TeacherResultWithGroups" type="HashMap">
		<result property="id" column="teacid" />
		<result property="name" column="teacname" />
		<collection property="groups" javaType="ArrayList" column="teacid" ofType="java.lang.String" select="getSubjectsOfTeacher"/>
	</resultMap>

	<select id="getTeacherBySchoolIdType" parameterType="java.util.Map" resultMap="TeacherResult">
		select t.teacid,t.teacname from teacher t left join teacherroles tr on t.teacid=tr.teac_id where t.orgid=#{schoolId,jdbcType=VARCHAR} and tr.role_name=#{type,jdbcType=VARCHAR} limit 1 
	</select>
	
	<select id="getTeachersBySchoolId" parameterType="string" resultMap="TeacherResult">
		select t.teacid,t.teacname from teacher t where t.orgid=#{schoolId,jdbcType=VARCHAR}
	</select>
	
	<select id="getTeachersBySchoolInGradeName" parameterType="java.util.Map" resultMap="TeacherResultWithGroups">
		select t.teacid,t.teacname from teacher t where t.orgid=#{schoolId,jdbcType=VARCHAR} and t.teacid in (SELECT tg.teac_id from teachergrade tg left join grade g on tg.grade_id=g.id where g.grade_name=#{gradeName,jdbcType=VARCHAR});
	</select>

	<select id="getSubjectsOfTeacher" parameterType="java.util.Map" resultType="string">
		select s.name from teachersub ts left join subject s on ts.sub_id=s.id WHERE teac_id = #{teacid}
	</select>

</mapper>