<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.1.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop.xsd">
      
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/login.jsp"/>
        <property name="successUrl" value="/index.jsp"/>
        <property name="unauthorizedUrl" value="/unauthorized.jsp"/>
        <property name="filterChainDefinitions">
            <value>
                /user/** = authc, roles[888888]
                /role/** = authc, roles[888888]
                /permission/** = authc, roles[888888]
            </value>
        </property>
    </bean>

    <bean id="adminboard" class="org.apache.tomcat.jdbc.pool.DataSource" destroy-method="close">  
        <property name="poolProperties">  
            <bean class="org.apache.tomcat.jdbc.pool.PoolProperties">  
                <property name="url" value="jdbc:mysql://192.168.0.107:13306/dashboard?characterEncoding=UTF-8&amp;serverTimezone=UTC"/>
                <!-- <property name="url" value="jdbc:mysql://172.26.58.15:13306/dashboard?characterEncoding=UTF-8"/> -->
                <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
                <property name="username" value="root"/>  
                <property name="password" value="mysql"/>
                <property name="testWhileIdle" value="true"/>  
                <property name="testOnBorrow" value="true"/>  
                <property name="validationInterval" value="60000"/>  
                <property name="testOnReturn" value="false"/>  
                <property name="validationQuery" value="/* ping */"/>  
                <property name="timeBetweenEvictionRunsMillis" value="30000"/>  
                <property name="maxActive" value="100"/>  
                <property name="initialSize" value="10"/>  
                <property name="maxWait" value="10000"/>
                <!--
                <property name="removeAbandonedTimeout" value="60"/>  
                <property name="minEvictableIdleTimeMillis" value="30000"/>  
                <property name="minIdle" value="10"/>
                <property name="logAbandoned" value="true"/>
                <property name="removeAbandoned" value="true"/>  
                <property name="jdbcInterceptors" value="org.apache.tomcat.jdbc.pool.interceptor.ConnectionState;org.apache.tomcat.jdbc.pool.interceptor.StatementFinalizer"/>
                -->
            </bean>  
        </property>  
    </bean>
    
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!-- Single realm app.  If you have multiple realms, use the 'realms' property instead. -->
        <property name="realm" ref="adminRealm"/>
        <!-- By default the servlet container sessions will be used.  Uncomment this line
           to use shiro's native sessions (see the JavaDoc for more): -->
        <!-- <property name="sessionMode" value="native"/> -->
    </bean>
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <!-- Define the Shiro Realm implementation you want to use to connect to your back-end -->
    <!-- security datasource: -->
    <bean id="adminRealm" class="org.apache.shiro.realm.jdbc.JdbcRealm">
        <property name="dataSource" ref="adminboard" />
        <property name="permissionsLookupEnabled" value="true"/>
        <property name="authenticationQuery" value="select pswd from sec_users where login_name = ?" />
        <property name="userRolesQuery" value="SELECT r.type FROM sec_role r where r.id in (SELECT DISTINCT ur.rid from sec_users u LEFT JOIN sec_user_role ur on u.id=ur.uid where u.name = ?)" />
        <property name="permissionsQuery" value="SELECT p.url FROM sec_permission p where p.id in (SELECT DISTINCT rp.pid from sec_role r LEFT JOIN sec_role_permission rp on r.id=rp.rid where r.type = ?)" />
    </bean>
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor"/>
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>
    
    <!-- 
    <tx:advice id="txAdvice" transaction-manager="txManager">
        <tx:attributes>
            <tx:method name="get*" read-only="true"/>
            <tx:method name="*"/>
        </tx:attributes>
    </tx:advice>
    <aop:config>
        <aop:pointcut id="schoolServiceOperation"
             expression="execution(* com.ustudy.dashboard.services.SchoolServiceImp.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="schoolServiceOperation"/>
    </aop:config>
    -->
    
    <!-- Noted: Two methods for enabling spring transaction managent with jdbc.
         Above is XML based configuration. Declaring with @Transactional in java
         source code is also very flexible. -->
    <tx:annotation-driven transaction-manager="txManager"/>
    <bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="adminboard" />
	</bean>

</beans>
